nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.141);
  background-color: #fff;
}

navlinks {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

logo img {
  width: 8.5rem;
}

nav Link {
  display: none;
}

hero {
  height: max-content;
  padding: 7rem 5rem;
  display: flex;
  background-color: #fff;
  align-items: center;
}
herotext {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 50%;
}

herotext p {
  width: 80%;
}
herotext button {
  margin-top: 1.5rem;
  width: max-content;
}
heroimage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1.2rem;
}
heroimage img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.img3 {
  margin-top: -15rem;
}

.dots {
  position: relative;
  z-index: 0;
}

.dot1 {
  position: absolute;
  top: -33rem;
  right: -3rem;
}
.dot2 {
  position: absolute;
  top: -15.7rem;
  left: -23rem;
}

.features {
  margin-top: 4rem;
  background-color: #fff;
  padding: 7rem 5rem;
}
.feature-head {
  text-align: center;
}
.feature-body {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  gap: 3rem;
  align-items: center;
}
.feat-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.feature {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}
.feature img {
  width: 3rem;
  height: 3rem;
}
.feature-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.feature-desc p {
  color: var(--grey);
}

/* how it works */
#how-it-works {
  margin-top: 4rem;
  background-color: #fff;
  padding: 5rem;
}
.hows-ctn{
    display: flex;
    flex-direction: row;
justify-content: space-between;}

.how {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.75rem;
  margin-top: 5rem;
}

.how-num {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 700;
  width: max-content;
}


/* Footer */

#footer{
    width: 100vw;
    background-color: var(--primary-color);
    padding: 3rem 5rem;
}