* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding: 1.5rem;
  background-color: blanchedalmond;
  width: 30%;
  margin: 0 auto;
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  border-radius: 1.5rem;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.logo img {
  width: 8.25rem;
}

.setting {
  display: flex;
  gap: 0.75rem;
}

.setting img {
  width: 1.25rem;
  height: 1.25rem;
}

.header p {
  text-align: center;
}

.active-tab {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.active-tab span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.active-tab span img {
  width: 2rem;
}

.toggle-ctn {
  display: flex;
  border: 1px solid #1b233d;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.toggle-ctn span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.permit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.App button {
  background-color: #1b233d;
  color: aliceblue;
  padding: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  border: none;
  font-size: 1.25rem;
}

.App button:hover{
  color: #1b233d;
  background-color: #fff;
  border: 1px solid #1b233d;
  cursor: pointer;
}

.controlRec{
  background-color: #1b233d;
  color: #fff;
  padding: 1rem;

  /* position: absolute; */
  
}

.video-player{
  width: 50vw;
}