.login-ctn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.login-ctn a {
  display: flex;
  gap: 1rem;
  width: 100%;
  /* justify-content:center; */
  text-align: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  align-items: center;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 25%;
  text-decoration: none;
  color: var(--black);
}

#account {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35vw;
  margin: 7.5% auto;
}
.login-logo {
  position: absolute;
  top: 5rem;
  left: 7rem;
  width: 10rem
}

.login-header {
  display:;
  text-align: center;
}

.breaker {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
}

#signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
label input {
  padding: 1rem 0.5rem;
}
form button {
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}
